body[dir="rtl"] {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

@media (min-width: 992px) {
    .header-fixed.subheader-fixed .subheader {
        top: 0px;
    }
}

/*@media (max-width: 992px) {*/
/*    .dataTables_wrapper {*/
/*        max-width: 300px;*/
/*        overflow-x: auto*/
/*    }*/
/*}*/

.index_image {
    width: 100px;
    height: 80px;
}

.flex-column-fluid {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: content;
}

.image-galley {
    height: 200px;
}

[dir="rtl"] .toast-close-button {
    right: 0;
    left: 0.3em;
    float: left;
}

[dir="rtl"] .toast-message {
    margin-right: 2.5rem;
}

[dir="rtl"] #toast-container > div {
    padding: 15px 15px 15px 15px !important;
}

[dir="rtl"] .ki-double-arrow-back::before {
    content: "\f100";
}

[dir="rtl"] .ki-double-arrow-next::before {
    content: "\f101";
}

[dir="rtl"] .ki-arrow-back::before {
    content: "\f105";
}

[dir="rtl"] .ki-arrow-next::before {
    content: "\f106";
}

[dir="rtl"] .aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow::before {
    content: "\f106";
}

[dir="rtl"] .aside-menu .menu-nav .menu-item.menu-item-open > .menu-link > .menu-arrow::before {
    -webkit-transform: rotateZ(-90deg) !important;
    transform: rotateZ(-90deg) !important;
}


.bootstrap-select .dropdown-toggle .filter-option * {
    text-align: initial !important;
}

/*datatable responsive start*/
[dir="ltr"] table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
    right: 5px !important;
    left: unset !important;
}

[dir="rtl"] table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
    left: 5px !important;
    right: unset !important;
}

.dataTables_wrapper table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before {
    font-size: 10px !important;
    padding: 4px !important;
}

body {
    overflow-x: hidden !important;
}

#example1_wrapper .row:nth-child(2) > *[class^='col'] {
   overflow-x: auto;
}

.dataTables_filter label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dataTables_filter label input {
    margin: 0 0.5rem;
    flex-grow: 1;
    max-width: 100%;
    width: 100% !important;
}

.dataTables_wrapper .dataTable thead tr {
    height: 1rem;
}

.dataTables_wrapper .dataTable thead th {
    height: inherit;
}

/* first max-width: 788px  1111*/
/*4 hours in shit*/
@media only screen and (max-width: 788px) , only screen and (min-width: 992px) and (max-width: 1111px) {
/*@media only screen and (max-width: 915px) , only screen and (min-width: 992px) and (max-width: 1260px) {*/
/*    #kt_body .card-body {*/
/*        padding-right: 0 !important;*/
/*    }*/

/*    #kt_body[dir='rtl'] .card-body {*/
/*        padding-right: 2.25rem !important;*/
/*        padding-left: 0 !important;*/
/*    }*/

/*    #example1_wrapper table tbody > tr:not(.child) td:last-child,*/
/*    #example1_wrapper table thead > tr:not(.child) th:last-child {*/
/*        display: inline-block !important;*/
/*        visibility: hidden;*/
/*        width: 0 !important;*/
/*    }*/

/*    #example1_wrapper table tbody > tr:not(.child) td:last-child > a,*/
/*    #example1_wrapper table thead > tr:not(.child) th:last-child > a {*/
/*        display: none !important;*/
/*    }*/

/*    #example1_wrapper table tbody > tr:not(.child) td:last-child form {*/
/*        visibility: visible;*/
/*    }*/

/*    #example1_wrapper table tbody > tr:not(.child) td:last-child form > button {*/
/*        visibility: hidden;*/
/*    }*/


}
